*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
  color: crimson;
}
ul{
  list-style: none;
}
img{
  width: 100%;
}

p{
  font-size: 0.7rem;
}
h1{
  font-size: 1rem;
  background-image: url("/assets/img/fundo.png");
  margin: 0.2rem;
  padding: 0.3rem;
  color:white;
}

h2{
  width: fit-content;
  background-color: crimson;
  font-size: 0.8rem;
  padding: 0.1rem;
  padding-left: 0.2rem;
}

h3{
  font-size: 1rem;
}
hr{
  background-color: #fff;
}

.content{
  height: fit-content;
  background-color: #fff;
  margin-top: -1.5rem;
}

.main-content{
  max-width: 55%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.5fr repeat(2, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  width: 70%;
  gap: 1rem;

}

.main-content div:nth-child(4){
  grid-row: span 1;
}

.bg{
  background-image: url("/assets/img/fundo-caixa.png");
  height: fit-content;
}

.bg .quebra{
  display: flex;
  gap: 0.5rem;
}

.config{
  background-color: #FFF;
  margin: 0.3rem;
  padding: 0.6rem;
}

.detalhe h1{
  margin-top: -1rem;
}

.detalhe ul{
  margin-bottom: -0.8rem;
}

.detalhe div{
  margin-bottom: -0.8rem;
}

.entrevistas{
  margin-bottom: 0.5rem;
}

.entrevistas ul li{
  font-size: 0.8rem;
}

.news button{
  color: #FFF;
  background-color: crimson;
  border: 0.1px solid darkred;
  cursor: pointer;
}

.mundo div ul {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mundo div ul li h3{
  color: deepskyblue;
}

.mundo div ul li img{
  margin: 0 1rem 0 -2rem;
  width: 100px;
  height: 75px;
}

.recentes div ul {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recentes div ul li h3{
  color: deepskyblue;
}

.recentes div ul li img{
  margin: 0 1rem 0 -2rem;
  width: 100px;
  height: 75px;
}

.ultima div h2{
  margin: 0 0 1px 0;
}

.ultima div p{
  margin: 0;
}

.ultima img{
  width: 80%;
}

.destaque div h2{
  margin: 0 0 1px 0;
}

.destaque div p{
  margin: 0;
}

.destaque img{
 width: 80%;
}

.destaque h2{
  color:#FFF
}

.recentes img{
  width: 30%;
}

/* NAVBAR */
.menu{
  width: 100%;
  margin-bottom: 1rem;
  background-image: url('/assets/img/fundo.png');
  background-size: auto;
  justify-content: center;
}
.menu img{
  width: auto;
}

.margem{
  width: 55%;
  margin: 0 auto;
}

.imgs{
  margin-top: -15rem;
  position: absolute;
  z-index: 1;
  width: 80%;
  display: flex;
}

.imgs img{
  width: auto;
}

.img-logo{
  position: absolute;
  z-index: 1;
  margin-top: 2.5rem;
  margin-left: 2.5rem;
  width: 152px;
  height: 66px;
}

.navbar{
  list-style: none;
  display: flex;
  margin-top: 8rem;
}

.navbar a li{
  text-decoration: none;
}

.navitem{
  background-color: brown;
  width: 7rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  color: #FFF;
}

.navitem:hover{
  background: crimson;
} 

/* FOOTER */

footer{
  width: 100%;
  color: white;
  height: auto;
  background-image: url("/assets/img/fundo.png");
}

footer div{
  width: 55%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}